<!DOCTYPE html> 
<head>
    <title>deviaze's personal page y'all</title>
    <meta charset="UTF-8">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <p>deviaze</p>
    <p><strike>may or may not be significantly behind with my other SAs</strike></p>
</body>