<h1>Directory of Student Pages</h1>

<ul>
    <li><%= link_to 'bcllier21', bcllier21_path %></li>

    <li><%= link_to 'Cameron0904', cameron_path %></li>

    <li> <%= link_to 'deviaze', deviaze_path %> </li>

    <li>
        <%= link_to 'imjustjoshn', imjustjoshn_path %>
    </li>
</ul>
